body {
  font-size: 16px;
  font-family: Source Code Pro, monospace;
}

#container {
  max-width: 1000px;
  margin: 50px auto;
}

.day {
  margin-bottom: 50px;
}

.day:last-child {
  margin-top: 0;
}

.day-title {
  color: white;
}

.commit {
  margin-top: 1em;
}

